<div ng-controller="userListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Users List</h1>
                <a class="btn btn-sm btn-primary float-end" ng-click="changeMenu('user-add')">Add New +</a>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Enable</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{data.username}}</td>
                        <td>{{data.fullName}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.role}}</td>
                        <td>
                            <!-- ng-show -->
                            <!-- if data.enable is true -->
                            <i class="fa fa-check" ng-show="data.enable"></i>
                            <!-- if data.enable is false<<!>> -->
                            <i class="fa fa-times" ng-show="!data.enable"></i>
                        </td>
                        <td>
                            <a ng-click="editItem(data.id)" class="color-AlamedaOchre cursor-pointer"><i
                                    class="fa fa-edit"></i></a>
                            <!-- ng-hide=(...) for privacy, User cannot delete user account while logged in with this account. -->
                            <a ng-hide="userInfo.id == data.id" ng-click="deleteItem(data.id)"
                               class="color-EyeOfNewt cursor-pointer"><i
                                    class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <div>
                    <nav>
                        <ul class="pagination pagination-sm cursor-pointer">
                            <li ng-repeat="i in range(pageCount) track by $index" class="page-item" aria-current="page">
                                <span class="page-link cursor-pointer" ng-click="changePage($index)">
                                    {{ ($index + 1) }}
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
