<div ng-controller="contentListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Content List</h1>
                <a class="btn btn-sm btn-primary float-end" ng-click="changeMenu('content-add')">Add New +</a>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Key</th>
                        <!--<th scope="col">Value</th>-->
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{data.key}}</td>
                        <!-- better dont show data.value because We make exceptions. -->
                        <!-- variable value in object -->
                        <!--<td>{{smallSubStr(data.value)}}</td>-->
                        <td>
                            <a ng-click="editItem(data.id)" class="color-AlamedaOchre cursor-pointer"><i
                                    class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <div>
                    <nav>
                        <ul class="pagination pagination-sm cursor-pointer">
                            <li ng-repeat="i in range(pageCount) track by $index" class="page-item" aria-current="page">
                                <span class="page-link cursor-pointer" ng-click="changePage($index)">
                                    {{ ($index + 1) }}
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
