<div ng-controller="productEditCtrl">
    <div class="container p-3 mt-5">
        <div class="card">
            <div class="card-header">
                Edit Product
                <a ng-click="changeMenuWithCategory('product-list')" class="btn btn-sm btn-primary float-end">Return</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <div class="form-group mb-3">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" ng-model="data.title">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control" id="price" ng-model="data.price">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="exists">Exists</label>
                                    <select class="form-select" id="exists" ng-model="data.exists">
                                        <option value="true" ng-selected="data.exists === true">Yes</option>
                                        <option value="" ng-selected="data.exists === false">No</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="enable">Enable</label>
                                    <select class="form-select" id="enable" ng-model="data.enable">
                                        <option value="true" ng-selected="data.enable === true">Yes</option>
                                        <option value="false" ng-selected="data.enable === false">No</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3 border-form ps-3 p-3">
                                    <label class="pb-2" for="colors">Colors</label>
                                    <div class="form-check" id="colors"
                                         ng-repeat="item in colors">
                                        <input class="form-check-input" id="colors_{{item.id}}"
                                               ng-click="onColorChange(item)"
                                               ng-checked="isSelected(selectedColors,item)"
                                               type="checkbox" value="{{item.id}}"
                                               ng-model="selectedColors">
                                        <label class="form-check-label" for="colors_{{item.id}}">{{item.name}}</label>
                                    </div>
                                </div>
                                <div class="form-group mb-3 border-form ps-3 p-3">
                                    <label class="pb-2" for="sizes">Sizes</label>
                                    <div class="form-check" id="sizes"
                                         ng-repeat="item in sizes">
                                        <input class="form-check-input" id="sizes_{{item.id}}"
                                               ng-click="onSizeChange(item)"
                                               ng-checked="isSelected(selectedSizes,item)"
                                               type="checkbox" value="{{item.id}}"
                                               ng-model="selectedSizes">
                                        <label class="form-check-label" for="sizes_{{item.id}}">{{item.title}}</label>
                                    </div>
                                </div>
                                <!-- for show features -->
                                <div class="form-group mb-3 border-form ps-3 pt-3">
                                    <label for="features">Features</label>
                                    <div class="row">
                                        <div class="col-5">
                                            <label for="key">Key</label>
                                            <input type="text" class="form-control" id="key" ng-model="newFeature.key">
                                        </div>
                                        <div class="col-5">
                                            <label for="value">Value</label>
                                            <input type="text" class="form-control" id="value"
                                                   ng-model="newFeature.value">
                                        </div>
                                        <div class="col-2">
                                            <input type="button" class="btn btn-success my-4 text-" value="+"
                                                   ng-click="addFeature()">
                                        </div>
                                    </div>
                                    <ul id="features">
                                        <li ng-repeat="feature in featureList">
                                            {{feature.key}} : {{feature.value}}
                                            <i class="fa fa-times color-EyeOfNewt mx-2"
                                               ng-click="deleteFeature(feature.id)"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="description">Description</label>
                                    <div text-angular="text-angular" class="form-control" id="description"
                                         ng-model="data.description"></div>
                                </div>
                                <div ng-include="'views/util/fileUploader.html'"></div>
                                <button type="submit" class="btn btn-primary" ng-click="editData()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
