body {
    background-color: #4285f3;
}

/*
for see change design or any think you need select << CTRL + F9 >> for reComplied.
*/
.login-box-holder {
    width: 60%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 15px;
    margin: 5% auto 0;
}